---
layout: layouts/base.njk
title: About me - Levent Ali
description: Levent Ali is an experienced leader with over a decade delivering internet products and building cross-functional teams."
---

<h1>About me <a href="/">Levent Ali</a></h2>
<p>Here is some context on where I've been "unprofessionally" and some highlights along the way.</p>
{% for item in timeline %}
  <article>
    <div class="sm:text-lg flex flex-row">
      <div class="font-bold text-right py-1 sm:py-2 pr-2 sm:pr-4 border-r-2 border-white">
        <time datetime="{{ item.year }}">{{ item.year }}</time>
      </div>
      <div class="text-left py-1 sm:py-2 pl-2 sm:pl-4">
        {{ item.event }}
      </div>
    </div>
  </article>
{% endfor %}

<p class="pt-4"><a href="/">Go home</a></p>
