---
layout: layouts/base.njk
title: About me - Levent Ali
description: Levent Ali is an experienced leader with over a decade delivering internet products and building cross-functional teams."
---

<h1>About me <a href="/">Levent Ali</a></h2>
<p>Here's a random bit of context on where I've been and some highlights along the way.</p>
{% for item in timeline %}
  <div class="text-lg flex flex-row">
    <div class="font-bold text-right py-2 pr-4 border-r-2 border-gray-900">{{ item.year }}</div>
    <div class="text-left py-2 pl-4">
      {{ item.event }}
    </div>
  </div>
{% endfor %}

<p class="pt-4"><a href="/">Go home</a></p>
